<!DOCTYPE html>
<html>
<head>
    
    <title>Layout testing</title>
</head>
<body>
  {% bloc navigation %}  
  <h3>navigation</h3>
  {% include 'navigation.html.twig' %}
  <hr>
  {% endblock %}

  {% block body%}
  
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate animi eaque similique ipsa nisi eos natus quibusdam possimus consequatur deserunt quas nihil ipsam, in, laborum numquam? Iusto, illum ipsam quasi nemo asperiores inventore. Cum fugiat amet nulla assumenda earum minus corporis magnam architecto repellendus sit ipsam dolore quis cumque voluptates, ab quaerat, beatae quo aliquid nemo, excepturi veniam explicabo? Repellendus sequi dolorem odio necessitatibus quas ducimus eos dolorum, unde animi corrupti adipisci itaque in, a quisquam ipsa praesentium beatae omnis repellat inventore! Consequatur asperiores cumque in, ut veritatis iste distinctio repellat sint perferendis expedita enim nisi harum, reprehenderit maiores delectus.
  {% endblock %}
</body>
</html>