<ul class="offset-md-4 col-md-4 list-group mb-5 ">
  <li class="list-group-item bg bg-success "><i class="fab fa-html5 mr-5"></i><a href="#" class="text-white">Html</a></li>
  <li class="list-group-item bg bg-secondary text-white"><a href="#" class="text-white"><i class="fab fa-css3-alt mr-5"></i>Css</a></li>
  <li class="list-group-item bg bg-warning text-white"><i class="fab fa-js-square mr-5"></i><a href="#" class="text-white">JavaScript</a></li>
  <li class="list-group-item bg bg-info text-white"><i class="fab fa-angular mr-5"></i><a href="#" class="text-white">Angular</a></li>
  <li class="list-group-item bg bg-dark text-white"><i class="fab fa-php mr-5"></i><a href="#" class="text-white">Php</a></li>
  <li class="list-group-item bg bg-danger text-white"><i class="fab fa-symfony mr-5"></i><a href="#" class="text-white">Symfony</a></li>
</ul>