<table class="table offset-md-2 col-md-8 mb-5 alert alert-secondary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Septembre</th>
        <th scope="col">Octobre</th>
        <th scope="col">Novembre</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Html</td>
        <td>Js</td>
        <td>Php</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Html</td>
        <td>Js</td>
        <td>Php</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Css</td>
        <td>Angular</td>
        <td>Symfony</td>
      </tr>
    </tbody>
  </table>